@font-face {
    font-family: "Minecraft";
    src: url('polices/Minecraft.ttf');
}

@font-face {
    font-family: "Avenir";
    src: url('polices/Avenir.ttc');
}

body {
    background-image: url('images/iphone_background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

html, body  {
    margin:0;
    padding:0;
    height: 100%;
}

