body {
    background-image: url("../img/space.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
}

/*html {*/
    /*-webkit-filter: blur(20px);*/
    /*filter: blur(20px);*/
/*}*/

#monCanvas {
    position: absolute;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    font-family: "proxima-nova", "open-sans", "Calibri", Helvetica, sans-serif;
}

/*#myModal .modal-dialog {*/
/*width: 90%;*/
/*}*/

#startimg {
    position: absolute;
    z-index: 2;
    /*-webkit-filter: blur(15px);*/
    /*filter: blur(15px);*/
}

#txtpseudo{
    position: absolute;
    z-index: 3;
}

#maindiv {
    /*position: relative;*/
    z-index: 0;
}

.btn2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: #3498db;
    border-color: #2d76ad;

}

*:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    background-color: #2980b9;
}

#modal {
    bottom: 10px;
    left: 10px;
}

#restartbtn {
    bottom: 10px;
    left: 70px;
}

#restartlgbtn {
    /*bottom: 40%;*/
    left: 40%;
    position: absolute;
    height: 50px;
    border-radius: 10%;
    background-color: #3498db;
    border-color: #2d76ad;
    color: white;
    display: none;
}

#pausebtn {
    bottom: 70px;
    left: 10px;
}

#firebtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
}

#fireimg {
    padding-top: 15%;
    width: 27%;
}

/*------TEXT POPUP------*/

#txthighscore {
    position: relative;
    color: white;
    text-align: center;
    font-size: 150%;
}

.txtalert {
    position: relative;
    color: white;
    text-align: center;
    display: none;
    margin: 0;
    /*font-size: 1000%;*/
}

#scoredisplay {
    position: relative;
    /*top: 100%;*/
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 10px;
}

/*------GAUGE------*/

.container2 {
    /*min-width: 90px;*/
    max-width: 40px;
    /*height: 100%;*/
    position: absolute;
    width: 100%;
    bottom: 90px;
    right: 25px;
}

.attendance {
    /*width: 100%;*/
    /*float: left;*/
    background-color: #1f1f1f;
    /*margin: 7px 5% 5px 5%;*/
    padding-bottom: 5px;
    border-style: solid;
    border-color: #3a3a3a;
    border-width: 2px;
    border-radius: 5px;
    position: relative;
}

.attendance-bar {
    /*float: left;*/
    /*width: 80%;*/
    margin: 0px 10% 0px 10%;
    height: 100px;
    background-color: #2f2f2f;
    position: relative;
}

.attendance-cage-css {
    /*width: 100%;*/
    /*float: left;*/
    position: relative;
}

.bar-1, .bar-2, .bar-3, .bar-4 {
    /*float: left;*/
    width: 100%;
    background-color: #1f1f1f;
    height: 5px;
}

.bar-1 {
    margin-bottom: 67%;
}

.bar-2 {
    margin-bottom: 70%;
}

.bar-3 {
    margin-bottom: 70%;
}

.attendance-level {
    max-height: 95px;
    width: 100%;
    background-color: #2ecc71;
    position: absolute;
    bottom: 0;
}

/*--------- ROTATION -------*/

/*.orientleft #shell {*/
    /*-webkit-transform: rotate(-90deg);*/
    /*-webkit-transform-origin: 160px 160px;*/
/*}*/

/*.orientright #shell {*/
    /*-webkit-transform: rotate(90deg);*/
    /*-webkit-transform-origin: 230px 230px;*/
/*}*/

