body {
    background-image: url("../img/wallpaper.jpeg");
    background-size: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 98%;
    font-family: Quicksand;
}

h1, h2 {
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    color: white;
}


input.formInvalid::-webkit-input-placeholder {
    color: red;
}

#titre {
    text-align: center;
    /*padding-top: 20%;*/
    /*font-size: 200%;*/
}


.pseudo {
    margin: 5%;
    width: 90%;
    /*height: 50%;*/
    font-size: 150%;
    border: 0;
    padding: 0;
}

#jeux {
    height: 59%;
    margin: 5%;
    overflow:auto;
}

.banniere{
    padding-right: 5%;
    padding-left: 5%;
    height:30%;
    width:90%;
    margin:auto;
    /*text-align:center;*/
}

#lucas{
    background-image: url("../img/banniere_lucas.png");
    background-size: 100%;
}

#quentin{
    background-image: url("../img/banniere_quentin.jpg");
    background-size: 100%;
}

#gabin{
    background-image: url("../img/banniere_gabin.png");
    background-size: 100%;
}

#pacman{
    background-image: url("../img/banniere_pacman.jpg");
    background-size: 100%;
}

#spaceinvaders{
    background-image: url("../img/banniere_spaceinvaders.png");
    background-size: 100%;
}

.gamename{
    position: relative;
    margin: 0;
    top: 55%;
    font-size: 200%;
}
